html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Fira Code';
}

.logo {
	width: 50px;
	height: 50px;
	margin-right: 0.7em;
}

body > header section {
	display: flex;
	align-items: center;
}

body > header {
	background-color: #eee;
	padding: 1em;
}

.fill {
	flex: 1;
}

.container {
	max-width: 60em;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

table {
    width: 100%;
}

.item {
    
}



















